---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/12/reviews?api_key=MOVIES_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 49e1594363418484decc0944b4a4320a
      X-Memc-Age:
      - '3185'
      X-Memc-Expires:
      - '18415'
      Etag:
      - W/"25e314e75083b03014d70cd014a07f9f"
      Last-Modified:
      - Thu, 27 Aug 2020 00:36:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":12,"page":1,"results":[{"author":"Dave09","content":"One of the
        best animated films I have ever seen. Great characters, amusing animation,
        and laugh-out-loud humor. Also, watch for the little skit shown after the
        credits. It''s all great stuff that simply must be seen.","id":"52d4a742760ee30e2d0dac9d","url":"https://www.themoviedb.org/review/52d4a742760ee30e2d0dac9d"},{"author":"r96sk","content":"Utterly
        stunning.\r\n\r\nThere isn''t anything to dislike about <em>''Finding Nemo''</em>,
        it sets the tone perfectly and expertly tells the tale of Nemo, Marlin and
        Dory. Considering how the story goes, the film does an outstanding job at
        seamlessly switching between Nemo''s adventure and his father''s - it''s truly
        terrifically done.\r\n\r\nThis also includes a whole bunch of memorable characters
        and voices. Alexander Gould, Albert Brooks and Ellen DeGeneres are the obvious
        stars as the early mentioned trio. There''s a load of others though, with
        Willem Dafoe (Gill), Geoffrey Rush (Nigel) and Barry Humphries (Bruce) all
        giving excellent performances.\r\n\r\nThe animation is superb, a few moments
        haven''t aged as greatly but the absolute vast majority still looks unbelievable.
        The premise is funny, cute and heartwarming - as it keeps one''s attention
        from start-to-finish. The score is fantastic, too.\r\n\r\nHighly recommended.","id":"5f189d55db952d0034957e59","url":"https://www.themoviedb.org/review/5f189d55db952d0034957e59"}],"total_pages":1,"total_results":2}'
  recorded_at: Thu, 27 Aug 2020 00:36:27 GMT
recorded_with: VCR 6.0.0
