<h1>Welcome to Viewing Party</h1>

<h3>Viewing Party is an application that allows you to watch movies with friends remotely!</h3>

<%= link_to "Sign in with Google",
"/auth/google_oauth2?client_id=#{ENV['GOOGLE_CLIENT_ID']}" %>
