<h1>Welcome to Viewing Party</h1>

<h3>Viewing Party is an application that allows you to watch movies with friends remotely!</h3>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="487583523797-47coet905m5qq7mga7vlr63i1u7lvmv5.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
